<!-- Toolbar for the forgot Dialog -->
<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <!-- Title for the dialog -->
        <span>Forgot Password</span>
        <!-- Spacer to push the button to the right -->
        <span class="spacer"></span>
        <!-- Close button with pointer cursor -->
        <button class="pointer mat-dialog-close " mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>




<!-- Main content area of the Signup Dialog -->
<mat-dialog-content class="mat-typography">
    <!-- Reactive form for user signup -->
    <form [formGroup]="forgotPasswordForm">
        <div fxFlex fxLayout="column">
            <!-- Email Field -->
            <mat-form-field appearance="standard" fxFlex>
                <mat-label>Email</mat-label>
                <!-- Input field for email validation -->
                <input matInput formControlName="email" required>
                <!-- Display error if the email field fails validation -->
                <mat-error *ngIf="forgotPasswordForm.controls.email.touched && forgotPasswordForm.controls.email.invalid">
                    <span *ngIf="forgotPasswordForm.controls.email.errors.required">This field is mandatory</span>
                    <span *ngIf="forgotPasswordForm.controls.email.errors.pattern">This field is invalid</span>
                </mat-error>
            </mat-form-field>
            
        </div>
    </form>
</mat-dialog-content>



<!-- Action buttons at the bottom of the Signup Dialog -->
<mat-dialog-actions align="end">
    <!-- Submit button to handle signup logic -->
    <button mat-raised-button color="primary"
            type="submit"
            (click)="handleSubmit()"
            [disabled]="!forgotPasswordForm.valid || !forgotPasswordForm.dirty">
        <mat-icon>send</mat-icon> Send Password
    </button>
    
    <!-- Cancel button to close the dialog -->
    <button mat-raised-button color="warn" mat-dialog-close>
        <mat-icon>cancel</mat-icon> Close
    </button>
</mat-dialog-actions>


