<!-- Toolbar for the change password Dialog -->
<mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <!-- Title for the dialog -->
        <span>Change Password</span>
        <!-- Spacer to push the button to the right -->
        <span class="spacer"></span>
        <!-- Close button with pointer cursor -->
        <button class="pointer" mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>



<!-- Main content area of the change password Dialog -->
<mat-dialog-content class="mat-typography">
    <!-- Reactive form for user change password -->
    <form [formGroup]="changePasswordForm">
        <div fxFlex fxLayout="column">

            <!-- Password Field -->
            <mat-form-field appearance="standard" fxFlex>
                <mat-label>Old Password</mat-label>
                <!-- Password visibility toggle logic -->
                <input matInput formControlName="oldPassword" type="password" [type]="oldPassword ? 'password' : 'text'"
                    required>
                <button type="button" mat-icon-button matSuffix (click)="oldPassword = !oldPassword"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="oldPassword">
                    <mat-icon>{{ oldPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                <!-- Display error if password field is invalid -->
                <mat-error
                    *ngIf="changePasswordForm.controls.oldPassword.touched && changePasswordForm.controls.oldPassword.invalid">
                    <span *ngIf="changePasswordForm.controls.oldPassword.errors.required">This field is mandatory</span>
                </mat-error>
            </mat-form-field>


            <!-- new Password Field -->
            <mat-form-field appearance="standard" fxFlex>
                <mat-label>New Password</mat-label>
                <!-- Password visibility toggle logic -->
                <input matInput formControlName="newPassword" type="password" [type]="newPassword ? 'password' : 'text'"
                    required>
                <button type="button" mat-icon-button matSuffix (click)="newPassword = !newPassword"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="newPassword">
                    <mat-icon>{{ newPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                <!-- Display error if password field is invalid -->
                <mat-error
                    *ngIf="changePasswordForm.controls.newPassword.touched && changePasswordForm.controls.newPassword.invalid">
                    <span *ngIf="changePasswordForm.controls.newPassword.errors.required">This field is mandatory</span>
                </mat-error>
            </mat-form-field>



            <!-- Confirm Password Field -->
            <mat-form-field appearance="standard" fxFlex>
                <mat-label>Confirm Password</mat-label>
                <!-- Password visibility toggle logic -->
                <input matInput formControlName="confirmPassword" [type]="confirmPassword ? 'password' : 'text'"
                    required>
                <button type="button" mat-icon-button matSuffix (click)="confirmPassword = !confirmPassword"
                    [attr.aria-label]="confirmPassword ? 'Hide password' : 'Show password'"
                    [attr.aria-pressed]="confirmPassword">
                    <mat-icon>{{ confirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                <!-- Display error if confirm password fails validation -->
                <mat-error
                    *ngIf="changePasswordForm.controls.confirmPassword.touched && changePasswordForm.controls.confirmPassword.invalid">
                    <span *ngIf="changePasswordForm.controls.confirmPassword.errors.required">This field is
                        mandatory</span>
                </mat-error>
                <!-- Hint to indicate mismatched passwords -->
                <mat-hint *ngIf="validateSubmit() && !(changePasswordForm.controls.confirmPassword.invalid)">
                    <span>New Password and Confirm Password does not match.</span>
                </mat-hint>
            </mat-form-field>

        </div>
    </form>
</mat-dialog-content>



<!-- Action buttons at the bottom of the change password Dialog -->
<mat-dialog-actions align="end">
    <!-- Submit button to handle change password logic -->
    <button mat-raised-button color="primary"
            type="submit"
            (click)="handleChangePasswordSubmit()"
            [disabled]="!(changePasswordForm.valid && changePasswordForm.dirty) || validateSubmit()">
        <mat-icon>save</mat-icon> Update
    </button>
    
    <!-- Cancel button to close the dialog -->
    <button mat-raised-button color="warn" mat-dialog-close>
        <mat-icon>cancel</mat-icon> Close
    </button>
</mat-dialog-actions>






